{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admisiones Univalle</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

     <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/device-mockups/device-mockups.min.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/new-age.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Fuente-->
    <link rel="stylesheet" href="icomoon/style.css">


</head>

<body id="page-top">

    <header>    
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div id="div_imagenes" class="col-sm-12">
                                <div class="row">
                                  <div id="div_circulo_1" class="col-sm-6 rotateMe"></div>
                                  <div id="div_circulo_2" class="col-sm-6 rotateMe"></div>
                                </div>
                                <div class="row">
                                    <div id="div_circulo_3" class="col-sm-6 rotateMe"></div>
                                    <div id="div_circulo_4" class="col-sm-6 rotateMe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 class="titulo_bienvenida_perfiles">Bienvenido a la Universidad del Valle!</h1>
                            <div>
                                
                                <form class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-horizontal" id='formulario' method = 'post' action=''>
                                    {% csrf_token %}
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="form-group">
                                      {{ formulario.username }}
                                    </div>
                                    <div class="form-group">
                                        {{ formulario.password }} 
                                    </div>
                                    {% if not  messages %}
                                    <div class="form-group">
                                      <a href="#" onclick="document.getElementById('formulario').submit(); return false;" id="btn_ingresar_up" class="btn btn-outline btn-sm page-scroll">Ingresar</a>
                                    </div>
                                    
                                     </form>
                                <form class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-horizontal"> 
                                    <div class="form-group">
                                        <!--<a for="exampleInputEmail1" id='a_olv_contrasena'>¿Ha olvidado su contraseña?</a> -->
                                        <a href="/resetpassword">¿Ha olvidado su contraseña?</a>
                                    </div>
                                </form>
                                    {% else %}
                                     <a href="#" href="/login/" id="bt_regresar" class="btn btn-outline btn-sm page-scroll">Intentar de nuevo</a>
                                    </div>
                                    {% endif %}
                                    <!--input type = "submit" name='loguear' value = "Ingresar"-->
                               
                             </div>
                             <div>
                                <div>
                                 
                                    
                                    
                                    
                                    
                                    
                                </div>
                                     
                                    
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        
                       
                </div>
                      </div>
                    </div>
                </div>
              </div>
                


            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <p>&copy; Admisiones Universidad del Valle. Todos los derechos reservados.</p>
        </div>
    </footer>

   
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery-min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    
    <!--script src='https://www.google.com/recaptcha/api.js'></script-->

    <!-- Theme JavaScript -->
    <script src="{% static 'js/new-age.js' %}"></script>

</body>

</html>
